@import "tailwindcss";

.input {
  @apply w-full px-4 py-3 rounded-lg
    bg-white/10
    text-white
    placeholder-white/60
    border border-white/20
    focus:outline-none
    focus:border-amber-300
    focus:ring-2
    focus:ring-amber-300/40
    transition;
}
